<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="suite01">

<!--
	<test name="test01" preserve-order="true">
		<classes>
			<class name="com.witontek.ehospital2.test.LoginTest">
				<methods>
					<include name="loginSuccess"></include>
				</methods>
			</class>
		</classes>
	</test>


	<test name="test02" preserve-order="true">
		<classes>
			<class name="com.witontek.ehospital2.test.DepartmentCategoryManageTest">
				<methods>
					<include name="insertCategory"></include>
					<include name="searchCategory"></include>
					<include name="moveTopCategory"></include>
					<include name="updateCategory"></include>
					<include name="moveDownCategory"></include>
					<include name="moveUpCategory"></include>
				</methods>
			</class>
		</classes>
	</test>

-->
<!--
	<test name="test03" preserve-order="true">
		<classes>
			<class name="com.witontek.ehospital2.test.DepartmentManageTest">
				<methods>
					<include name="insertDepartment"></include>
					<include name="searchDepartment"></include>
					<include name="moveUpDepartment"></include>
					<include name="moveDownDepartment"></include>
					<include name="moveTopDepartment"></include>
				</methods>
			</class>
		</classes>
	</test>


-->
<!--
					
	<test name="test04" preserve-order="true">
		<classes>
			<class name="com.witontek.ehospital2.test.DoctorManageTest">
				<methods>
					<include name="insertDoctor"></include>
					<include name="moveTopDoctor"></include>
					<include name="editDoctor"></include>
					<include name="moveDownDoctor"></include>
					<include name="moveUpDoctor"></include>
					<include name="searchDoctor"></include>
				</methods>
			</class>
		</classes>
	</test>

	<test name="test05" preserve-order="true">
		<classes>
			<class name="com.witontek.ehospital2.test.ConsultManageTest">
				<methods>
					<include name="insertConsultDepartment"></include>
					<include name="insertAndContinueConsultDepartment"></include>
					<include name="searchConsultDepartment"></include>
					<include name="updateConsultDepartment"></include>
				</methods>
			</class>
		</classes>
	</test>
-->

	<test name="test06" preserve-order="true">
		<classes>
			<class name="com.witontek.ehospital2.test.AppraiseManageTest">
				<methods>
					<include name="insertAppraise"></include>
					<include name="searchAppraise"></include>
					<include name="updateAppraise"></include>
				</methods>
			</class>
		</classes>
	</test>
	
	<test name="test95" preserve-order="true">
		<classes>
			<class name="com.witontek.ehospital2.test.AppraiseManageTest">
				<methods>
					<include name="deleteAppraise"></include>
				</methods>
			</class>
		</classes>
	</test>
<!--
	<test name="test96" preserve-order="true">
		<classes>
			<class name="com.witontek.ehospital2.test.ConsultManageTest">
				<methods>
					<include name="deleteConsultDepartment"></include>
				</methods>
			</class>
		</classes>
	</test>
	
-->
<!--
	<test name="test97" preserve-order="true">
		<classes>
			<class name="com.witontek.ehospital2.test.DoctorManageTest">
				<methods>
					<include name="deleteDoctor"></include>
				</methods>
			</class>
		</classes>
	</test>

	<test name="test98" preserve-order="true">
		<classes>
			<class name="com.witontek.ehospital2.test.DepartmentManageTest">
				<methods>
					<include name="deleteDepartment"></include>
				</methods>
			</class>
		</classes>
	</test>


	<test name="test99" preserve-order="true">
		<classes>
			<class name="com.witontek.ehospital2.test.DepartmentCategoryManageTest">
				<methods>
					<include name="deleteCategory"></include>
				</methods>
			</class>
		</classes>
	</test>
-->
	
	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
	</listeners>

</suite>
